<!-- sidebar.html -->
<aside id="sidebar">
    <div class="d-flex">
        <button class="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#">Dashboard</a>
        </div>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="/dashboard" class="sidebar-link">
                <i class="lni lni-home"></i>
                <span>Home</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/manage_camera" class="sidebar-link">
                <i class="lni lni-camera"></i>
                <span>Manage Camera</span>
            </a>
        </li>                
        <li class="sidebar-item">
            <a href="/notifications" class="sidebar-link">
                <i class="lni lni-popup"></i>
                <span>Notification</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/complaints" class="sidebar-link">
                <i class="lni lni-envelope"></i>
                <span>complaints</span>
            </a>
        </li>
        
        <!-- Face Detection Auth Section -->
        <li class="sidebar-item">
            <a href="/face_auth" class="sidebar-link">
                <i class="lni lni-protection"></i>
                <span>Face Detection Auth</span>
            </a>
        </li>

        <li class="sidebar-item">
            <a href="/analytics" class="sidebar-link">
                <i class="lni lni-envelope"></i>
                <span>Analytics</span>
            </a>
        </li>

        <!--ChatBot-->
        <li class="sidebar-item">
            <a href="/chatbot" class="sidebar-link">
                <i class="lni lni-comments"></i>
                <span>ChatBot</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="/about" class="sidebar-link">
                <i class="lni lni-comments"></i>
                <span>About us (Beta)</span>
            </a>
        </li>
    </ul>

    <!--Footer-->
    <div class="sidebar-footer">
        <li class="sidebar-item">
            <a href="/logout" class="sidebar-link">
                <i class="lni lni-exit"></i>
                <span>Logout</span>
            </a>
        </li>
    </div>
</aside>
